.caja-cabecera{
    width:100%;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
}
.image-title{
    display: flex;
    width:100px;
    height:100px;
}
.image-title img{
    width: 100%;
    height: 100%;
}
h1{
    display: flex;
    width:80%;
    color: rgb(99, 178, 243);
    font-size:xx-large;
    font-weight:700;
    text-align: center;
    justify-content: center;
    /* border: 1px solid blue; */
}
h2{ 
    margin: auto;
    margin-top: 0;
    padding: 5px;
    width:99%;
    color: rgb(99, 178, 243);
    font-weight: bold;
    font-size:0.8rem;
}
p{
    margin: auto;
    font-size:1.1rem;
    margin-top:5px;
    padding: 10px;
    width:70%;
    display: flex;
    border-radius: 5px ;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
}
input{
    border:2px solid gray;
    margin: auto;
    width: 100%;
    text-align: center;
}
button{
    margin-left:10%;
    width:80%;
}
.badge{
    /* display:inline-block; */
    width:100%;
    padding: 0.45em 0.75em;
    font-size:0.5rem;
    font-weight:500;
    line-height:4;
    white-space: nowrap; 
    vertical-align: baseline;
    color: #fff;
    border-radius: 0.25rem;
}
.card{
    margin: auto;
    width:80%;
    display: flex;
    padding:30px;
    background-color: rgb(236, 123, 82);
    /*border: 3px solid black;*/
}
/****footer****/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width:100%;
    margin-top:7%;
    padding:25px;
    /* border: 1px solid red; */
  }
  footer ul{
    margin-top:0px;
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* border-top:1px solid black; */
    /* border: 1px solid red; */
  }
  footer li{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }
  footer ul li a .imgFooter{
    width:30px;
    height:30px;
  }
  footer ul li a .imgFooter img{
    width:100%;
    height:100%;
    border-radius: 5px;
  }
  footer > p{
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top:0px;
    border-radius: 5px;
    padding:0.5%;
    font-size: 1rem;
    color: black;
  }