
.card{
    background-color: rgb(236, 123, 82);
    width:100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
h2{ 
    margin: auto;
    margin-top:50px;
    padding: 5px;
    width:99%;
    color: rgb(173, 206, 233);
    font-weight: bold;
    font-size:3rem;
}