/* You can add global styles to this file, and also import other style files */
body{
    background-image:url("../src/assets/protruding-squares.svg");
}
/* .fontTitle{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
}
.textError{
    font-size: 1rem;
}
.sizeAlert{
    font-size: 1rem;
} */