/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin: auto;
    background-color: rgb(245, 123, 52);
    max-width:97vw;
    /* border: 1px solid yellow; */
}
